<!DOCTYPE html>
<html>
    <head>
        <title>ATM</title>
        <link rel="stylesheet" href="./static/atm.css">
    </head>
    <body>
        <form action="/ATM" method="POST">
            <table>
                <tr>
                    <td>Account Number :</td>
                    <td><input type="text" name="racc"></td>
                </tr>
                <tr>
                    <td>Pin Number :</td>
                    <td><input type="text" name="pin"></td>
                </tr>
                <tr>
                    <td>Enter the amount need :</td>
                    <td><input type="text" name="amount"></td>
                </tr>
                <tr>
                    <td><Button>Recieve amount</Button></td>
                </tr>


                
             <h2>{{msg}} </h2>
                
            </table>

        </form>

    </body>
</html>