<!DOCTYPE html>
<html>
    <head>
        <title>Create Account</title>
        <link rel="stylesheet" href="./static/create acc.css">
    </head>

    <body>
        <h2>Create Account and Join with us..</h2>
        <form action="/create" method="POST">
        <table>
            <tr>
                <td>Name :</td>
                <td><input type="text" name="cusname"></td>
            </tr>
            <tr>
                <td>Gender :</td>
                <td>
                    <input type="radio" name="human">Male
                    <input type="radio" name="human">Female
                    <input type="radio" name="human">Transgender
                </td>
            </tr>
            <tr>
                <td>Phone number :</td>
                <td><input type="text" name="contactnumber"></td>
            </tr>
            <tr>
                <td>D.O.B</td>
                <td><input type="date" name="dateofbirth"></td>
            </tr>
            <tr>
                <td>Age :</td>
                <td><input type="text" name="age"></td>
            </tr>
            <tr>
                <td>Address: </td>
                <td><input type="text" name="Address" placeholder="Type your Current living Address"></td>
            </tr>
            <tr>
                <td>Branch :</td>
                <td><input type="text" name="branch" placeholder="Enter the branch"></td>
            </tr>
            <tr>
                <td>Minimum Balance :</td>
                <td><input type="text" name="iniamount" placeholder="Enter a minimum balance amount"></td>
            </tr>
            <tr>
                <td>Set PIN Number :</td>
                <td><input type="text" name="Pin_number" placeholder="Create a Pin number"></td>
            </tr>
            <tr>
                <td>Confirm your PIN :</td>
                <td><input type="text" name="cpin"></td>
            </tr>
            <tr>
                <td>
                    <button>Create My Account</button>
                </td>
            </tr>

        </table>
        </form>
    </body>
</html>