<!DOCTYPE html>
<html>
    <head>
        <title>Viewing Data</title>
    </head>
    <body>
        <table border="5px" cellpadding="10px">
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Phone_number</th>
                <th>D_O_B</th>
                <th>Age</th>
                <th>Address</th>
                <th>Branch</th>
                <th>Account number</th>
                <th>PIN Number</th>
                <th>Amount</th>
            </tr>
            <tr>
                <td>{{userdetails[1]}}</td>
                <td>{{userdetails[2]}}</td>
                <td>{{userdetails[5]}}</td>
                <td>{{userdetails[3]}}</td>
                <td>{{userdetails[4]}}</td>
                <td>{{userdetails[6]}}</td>
                <td>{{userdetails[7]}}</td>
                <td>{{userdetails[8]}}</td>
                <td>{{userdetails[9]}}</td>
                <td>{{userdetails[10]}}</td>
                <!-- <td></td> -->
            </tr>
            <h3>Your Account Curernt Status..</h3>
        </table>

    </body>
</html>