<!DOCTYPE html>
<html>
    <head>
        <title>Delete Account</title>
        <link rel="stylesheet" href="./static/del.css">
    </head>
    <body>
        <form action="/delete" method="POST">
            <table >
                <tr>
                    <td>Account number</td>
                    <td><input type="text" name="racc" placeholder="Enter Your Account Number"></td>
                </tr>
                <tr>
                    <td>Pin Number</td>
                    <td><input type="text" name="pin" placeholder="Enter Your Pin number"></td>
                </tr>
                <button>Delete my Account</button></td> 
                
            </table>
        </form>
    </body>
</html>