<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="./static/home.css">
    </head>
    <body>
        <!-- <h2>K V B BANK Welcomes you</h2> -->
        <ul>
            <li><h2>Practise Bank</h2></li>
        </ul>
            <table>
                <tr>
                    <td>
                        <form action="/create">
                            <button>Create Account</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form action="/view2">
                            <button>View Account</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form action="/update">
                            <button>Update Account</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form action="/checkbalance">
                            <button>Check balance</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form action="/ATM">
                            <button>ATM</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form action="/debit">
                            <button>Debit Amount</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form action="/MoneyTransfer">
                            <button>Money Transfer</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form action="/delete">
                            <button>Delete Account</button>
                        </form>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>