<!DOCTYPE html>
<html>
    <head>
        <title> View my Account</title>
        <link rel="stylesheet" href="./static/view2.css">
    </head>
    <body>
        <form action="/view2" method="POST">
            <table>
                <tr>
                    <td>Your Name</td>
                    <td><input type="text" name="username" placeholder="Enter name in your Bank Account"></td>
                </tr>
                <tr>
                    <td>Account number</td>
                    <td><input type="text" name="Accnum" placeholder="xxxxxxxx1234"></td>
                </tr>
                <tr>
                    <td>
                        <button>View Account Status</button>
                    </td>
                </tr>
            </table>
            <!-- <h3>Your Account Curernt Status..</h3> -->
        </form>
    </body>
</html>